build/index.html
<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta data-n-head="true" name="theme-color" content="#cb7632">
		<title>Доставка панелей</title>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;amp;subset=cyrillic-ext" rel="stylesheet">
		<!--link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet")-->
		<link rel="stylesheet" href="css/styles.min.css">
	</head>
	<body>
		<div class="wrapper">
			<header class="header">
				<div class="container">
					<div class="header__inner">
						<div class="header__top">
							<h1 class="title header__title">Доставка панелей</h1>
							<div class="header__data header-data">
								<div class="header-data__item"><a class="btn header__btn" href="#" data-toggle="modal" data-target="#feedback">Обратный звонок</a></div>
								<div class="header-data__item"><a class="phone phone--ico" href="tel:88004356214">8 (800) 435-62-14</a></div>
							</div>
							<div class="btn-menu">
								<div class="btn-menu__inner">
									<div class="btn-menu__item"></div>
									<div class="btn-menu__item"></div>
									<div class="btn-menu__item"></div>
								</div>
							</div>
						</div>
						<div class="header__nav nav">
							<ul class="nav__list">
								<li class="nav__item"><a class="nav__link" href="#"> Услуги</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Продукт</a></li>
								<li class="nav__item nav__item--active"><a class="nav__link" href="#"> Доставка и оплата</a></li>
								<li class="nav__item"><a class="nav__link" href="#"> О компании</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Контакты</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<main class="main">
				<div class="container">
					<div class="banner" style="background-image: url(./images/map.jpg);">
						<div class="banner__inner">
							<div class="banner__title">EL-Панели и Лампы Т8</div>
							<div class="banner__subtitle">с доставкой по всему миру</div>
						</div>
					</div>
					<div class="news-data">
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="news-item">
									<h3 class="news-item__name news-item__name--link"><a class="news-item__link" href="#">ЕL-Панели</a></h3>
									<div class="news-item__data">
										<div class="news-item__content">
											Она же светопленка, светопанель, светобумага.
											Пластичный, тонкий и легкий материал, покрытый люминофором. Отличное решение для привлечения внимания к рекламе своей продукции. Потребляет мизерное количество энергии, устойчива к влаге и вибрации, без ультрафиолетового излучения. Из неё можно вырезать любые фигуры.
										</div>
									</div>
								</div>
								<div class="news-item">
									<h3 class="news-item__name">Светодиодная продукция</h3>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Лампы Т8</a>
										<div class="news-item__content">Экономят до 65% электроэнергии. Долговечнее и экологичнее, чем люминесцентные.</div>
									</div>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Светодиодные линейки</a>
										<div class="news-item__content">Простой способ подсветки прилавков, витрин, рекламных вывесок, и освещения помещений.</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="news-item">
									<h3 class="news-item__name">Полноцветная печать и постпечатная обработка</h3>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Печать на плоских материалах</a></div>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Печать на рулонных материалах</a>
										<div class="news-item__content">На плёнке, бэклите, баннерной ткани, сетке. Печатаем на японских принтерах компании Seiko.</div>
									</div>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Фрезерная резка</a>
										<div class="news-item__content">Не оставляет обгорелую кромку, в отличие от лазерной резки. Для твердых рекламных материалов до 10 мм.</div>
									</div>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Ламинация пленкой</a>
										<div class="news-item__content">Дополнительная защита печатной продукции от внешних воздействий.</div>
									</div>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Плоттерная резка</a></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="news-item">
									<h3 class="news-item__name">Монтаж рекламных материалов</h3>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Монтаж плёнки</a></div>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Монтаж баннеров</a></div>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Оклейка автомобилей</a></div>
									<div class="news-item__data"><a class="news-item__subtitle" href="#">Монтаж баннеров на автомобили</a></div>
								</div>
							</div>
						</div>
					</div>
					<h2 class="h2-title">За нас говорят клиенты</h2>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="blockquote">
								<div class="blockquote__inner">
									<div class="blockquote__content">«Заказывали печать материалов для ребрендинга. Такого превосходного обслуживания я ещё нигде не встречал. Все материалы были напечатаны вовремя и в отличном качестве.»</div>
								</div>
								<div class="blockquote__author">Иван Иванов, менеджер компании «Apple»</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="blockquote">
								<div class="blockquote__inner">
									<div class="blockquote__content">«Заказывали печать материалов для ребрендинга. Такого превосходного обслуживания я ещё нигде не встречал. Все материалы были напечатаны вовремя и в отличном качестве.»</div>
								</div>
								<div class="blockquote__author">Пётр Петров, менеджер компании «HP»</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer class="footer">
				<div class="container">
					<div class="footer__inner row">
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="footer__item">
								<div class="footer-content">©, ООО "Delivery", 2010 — 2017 <br>  Эл. почта: <a href="mailto:hello@gmail.com">hello@gmail.com </a></div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="footer__item">
								<div class="footer__content">Адрес: Минск, площадь Независимости, 143, оф. 6</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12 offset-lg-3">
							<div class="footer__item footer__item--questions">
								<div class="footer__content">Есть вопросы?<br><a href="#"> Напишите нам</a></div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedback" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<div class="modal-body">
						<div class="modal-body__title">Обратный звонок</div>
						<form class="form" id="feedbackForm" method="post">
							<div class="form__inner">
								<div class="form-group form__item">
									<input class="form-control form__input" type="text" name="name" placeholder="Имя" required>
								</div>
								<div class="form-group form__item">
									<input class="form-control form__input" type="tel" name="phone" placeholder="Телефон" required>
								</div>
								<div class="form__btn-inner">
									<input class="btn form__btn" type="submit" value="Заказать">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="js/vendor/jquery-3.2.1.min.js"></script>
		<script src="js/vendor/popper.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/bootstrapValidator.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
			    $('#feedbackForm').bootstrapValidator({
			        fields: {
			            name: {
			                validators: {
			                    notEmpty: {
			                        message: 'Введите Имя'
			                    }
			                }
			            },
			            phone: {
			                validators: {
			                    notEmpty: {
			                        message: 'Введите телефон'
			                    }
			                }
			            },
			        }
			    })
			});
		</script>
		<script src="js/app.min.js"></script>
	</body>
</html>

src/pages/index.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Доставка панелей'
    - var dir = ''

block main
    main.main
        .container
            +banner("map.jpg", "EL-Панели и Лампы Т8", "с доставкой по всему миру")
            .news-data
               .row
                   .col-lg-4.col-md-6.col-sm-12
                       .news-item
                           h3.news-item__name.news-item__name--link
                               a(href="#").news-item__link ЕL-Панели
                           .news-item__data
                               .news-item__content.
                                   Она же светопленка, светопанель, светобумага.
                                   Пластичный, тонкий и легкий материал, покрытый люминофором. Отличное решение для привлечения внимания к рекламе своей продукции. Потребляет мизерное количество энергии, устойчива к влаге и вибрации, без ультрафиолетового излучения. Из неё можно вырезать любые фигуры.
                       .news-item
                           h3.news-item__name Светодиодная продукция
                           .news-item__data
                               a(href="#").news-item__subtitle Лампы Т8
                               .news-item__content Экономят до 65% электроэнергии. Долговечнее и экологичнее, чем люминесцентные.
                           .news-item__data
                               a(href="#").news-item__subtitle Светодиодные линейки
                               .news-item__content Простой способ подсветки прилавков, витрин, рекламных вывесок, и освещения помещений.
                   .col-lg-4.col-md-6.col-sm-12
                       .news-item
                           h3.news-item__name Полноцветная печать и постпечатная обработка
                           .news-item__data
                               a(href="#").news-item__subtitle Печать на плоских материалах
                           .news-item__data
                               a(href="#").news-item__subtitle Печать на рулонных материалах
                               .news-item__content На плёнке, бэклите, баннерной ткани, сетке. Печатаем на японских принтерах компании Seiko.
                           .news-item__data
                               a(href="#").news-item__subtitle Фрезерная резка
                               .news-item__content Не оставляет обгорелую кромку, в отличие от лазерной резки. Для твердых рекламных материалов до 10 мм.
                           .news-item__data
                               a(href="#").news-item__subtitle Ламинация пленкой
                               .news-item__content Дополнительная защита печатной продукции от внешних воздействий.
                           .news-item__data
                               a(href="#").news-item__subtitle Плоттерная резка

                   .col-lg-4.col-md-6.col-sm-12
                       .news-item
                           h3.news-item__name Монтаж рекламных материалов
                           .news-item__data
                               a(href="#").news-item__subtitle Монтаж плёнки
                           .news-item__data
                               a(href="#").news-item__subtitle Монтаж баннеров
                           .news-item__data
                               a(href="#").news-item__subtitle Оклейка автомобилей
                           .news-item__data
                               a(href="#").news-item__subtitle Монтаж баннеров на автомобили
            h2.h2-title За нас говорят клиенты
            .row
                .col-lg-6.col-md-6.col-sm-12
                    +blockquote("«Заказывали печать материалов для ребрендинга. Такого превосходного обслуживания я ещё нигде не встречал. Все материалы были напечатаны вовремя и в отличном качестве.»", "Иван Иванов, менеджер компании «Apple»")
                .col-lg-6.col-md-6.col-sm-12
                    +blockquote("«Заказывали печать материалов для ребрендинга. Такого превосходного обслуживания я ещё нигде не встречал. Все материалы были напечатаны вовремя и в отличном качестве.»", "Пётр Петров, менеджер компании «HP»")
block script
    script(type='text/javascript').
        $(document).ready(function () {
            $('#feedbackForm').bootstrapValidator({
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: 'Введите Имя'
                            }
                        }
                    },
                    phone: {
                        validators: {
                            notEmpty: {
                                message: 'Введите телефон'
                            }
                        }
                    },
                }
            })
        });
